@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  outline: none;
  padding: 0;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
}

html body {
  background-color: #293835;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
}

.l-header__inner {
  height: 100%;
  width: 100%;
}

.l-header__container {
  position: relative;
}

.menu-toggle,
.logo-title,
.search-button {
  position: fixed;
  top: 16px;
  z-index: 1000;
}

.menu-toggle,
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 48px;
  outline: none;
  width: 48px;
}

.menu-toggle {
  left: 16px;
}

.menu-toggle.open span {
  background-color: transparent;
}

.menu-toggle.open span::before, .menu-toggle.open span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-toggle.open span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle.open span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggle span {
  background-color: #FFFFFF;
  bottom: 0;
  height: 1px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu-toggle span::before, .menu-toggle span::after {
  background-color: #FFFFFF;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu-toggle span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-toggle span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-nav {
  background-color: #293835;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu-nav.open {
  opacity: 1;
  visibility: visible;
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.menu-nav__list--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 128px;
}

.menu-nav__list--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}

.menu-nav__item {
  font-family: 'Lato', sans-serif;
}

.menu-nav__item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-nav__item--row::after {
  background-color: #FFFFFF;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 1px;
}

.menu-nav__item--row:last-child::after {
  display: none;
}

.menu-nav__item--column {
  margin: 12px 0;
}

.menu-nav__link {
  color: #FFFFFF;
}

.menu-nav__link--row {
  margin: 0 8px;
}

.menu-nav__link--row.u-mls {
  margin-left: 4px;
}

.menu-nav__link--row span {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.menu-nav__link--column {
  display: inline-block;
  padding: 4px;
}

.menu-nav__link--column span {
  font-size: 1.9rem;
}

.menu-nav__link--column span span {
  text-transform: uppercase;
}

.logo-title {
  left: 50%;
  height: 48px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.logo-title__link {
  display: block;
}

.logo-title__link span {
  color: #FFFFFF;
  font-size: 2.1rem;
  line-height: 48px;
  text-transform: uppercase;
}

.search-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 16px;
}

.search-button svg {
  fill: #FFFFFF;
  height: 22px;
  width: 22px;
}

.l-main__inner {
  height: 100%;
  width: 100%;
}

.l-main__container {
  position: relative;
}

.section {
  width: 100%;
}

.section--hero {
  height: 100vh;
}

.section__inner {
  height: 100%;
  width: 100%;
}

.hero-slider {
  height: 100%;
  width: 100%;
}

.hero-slider__list {
  height: 100%;
  width: 100%;
}

.hero-slider__item {
  background-color: #000000;
  height: 100%;
  position: relative;
  width: 100%;
}

.hero-slider__item::before {
  background-color: #000000;
  content: '';
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hero-slider__info {
  bottom: 140px;
  left: 20px;
  position: absolute;
  width: calc(100% - 40px);
  z-index: 3;
}

.hero-slider__info::before {
  background-color: #FFFFFF;
  bottom: -45px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hero-slider__link {
  color: #FFFFFF;
  display: block;
  padding: 8px 0;
  margin: -8px 0;
}

.hero-slider__name span {
  font-size: 1.1rem;
}

.hero-slider__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-slider__title span {
  font-size: 2.8rem;
  font-weight: normal;
}

.hero-slider__title svg {
  fill: none;
  height: 24px;
  margin-left: 12px;
  min-width: 24px;
  stroke: #FFFFFF;
  stroke-width: 2px;
}

.hero-slider__image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero-slider__arrow {
  bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 27px;
  position: absolute;
  right: 20px;
  width: 66px;
}

.hero-slider__arrow-right {
  left: 0;
  position: absolute;
}

.hero-slider__arrow-left {
  position: absolute;
  right: 0;
}

.hero-slider__arrow svg {
  fill: none;
  height: 27px;
  min-width: 27px;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
/*# sourceMappingURL=style.css.map */